---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body role="document">
	{% include header.html %}
	<div class="container theme-showcase" role="main">
		<div class="col-md-4 text-center">
			<h2>
				<img src="images/figure.png" alt="figure" class="img-circle figure">
			</h2>
		</div>

		<div class="col-md-8">
			<ul>
			  {% for post in site.posts %}
			    <li>
			      <a href="{{ post.url }}">{{ post.title }}</a>
			      <div>{{ post.date }}</div>
			      <div>{{ post.excerpt }}</div>
			    </li>
			  {% endfor %}
			</ul>
		</div>
	</div>
</body>

</html>