---
---
<!DOCTYPE html>
<html lang="en">

{% include htmlHead.html %}

<body role="document">
	{% include header.html %}
	<div class="container theme-showcase" role="main">

		<div class="col-md-4 text-center">
			<h2>
				<img src="images/figure.png" alt="figure" class="img-circle figure">
			</h2>
		</div>
		<div class="col-md-8">
			<h2>
				CODE FOR FOOD
			</h2>
			<h4>
				Web Developer | Mobile App Developer
			</h4>
			<p>
			</p>
			<p>
				This site is actually somewhere to store the tricks I camed up with(copied from Internet). But I will be happy if you are interested in my tricks and wanted to get a job for me :>
			</p>
			<p>
			</p>
			<p>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									Website Development
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								I can build simple personal web pages and typical CMS websites with your desired patterns. For some complex websites, I can implement any requirement if a design is given. I can make all the information displayed in your preferred fashion; and any function you would like to facilitate your business. 
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Mobile App Development
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								In case your bussiness require some kind of mobile application to push notifications to your clients and stick the users to your products, a mobile application will do the right job.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Other Applications
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
				</div>
			</p>
			<button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;View my Resume</button>
		</div>

	</div>

</body>
</html>
